h1{
    text-transform: uppercase;
    height:100%;
    width:100%;
    border:5px ;
    border-style: double;
    
    border-color: rgb(73, 91, 91);
    background-color: rgb(206, 184, 184);
}

* {
    font-family: "To Time New Romin";
}
#outer{
    font-size:25px;
}
#inner{
    font-size:10px;
}