body{
    background-color: antiquewhite;
     display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

#four{
    border-color: black;
   
    height: 250px;
    width: 90px;


    border-style: double;
    border-width:5px;
    background-color: beige;
    border-radius: 5px;
}

#one{
    border-style: solid;
    height: 50px;
    width:50px;
    margin:20px 25px 20px 20px;
    border-radius:50%;
    background-color: rgb(233, 10, 10);
}
 #two{
    border-style: solid;
    height: 50px;
    width: 50px;
    margin: 20px 25px 20px 20px ;
    border-radius: 50%;
    background-color: yellow;
 }
 
 #three{
    border-style: solid;
    height: 50px;
    width: 50px;
    margin: 20px 25px 20px 20px;
    border-radius:50%;
    background-color: green;
 }
