div{
    height: 250px;
    width: 200px;
    background-color: indianred;
    border: 2x solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    transition:all 2s ease-in;
}

@media(max-width:300px ){
    div{
        background-color: green;
        text-align: center;
    }
    
}@media(mix-width:300px ) and (mxn-width:300px ){
    div{
        background-color: rgb(240, 104, 190);
        text-align: center;
    }
    
    
}

div:hover{
    background-color:pink;
    color: black;
    transform: rotate(360deg);
}

div:active{
    background-color: black;
    color: pink;
}